Repository spring-cloud/spring-cloud-gcp, pull requests merged in 2019-08, with the labels that each got.

#1793 Spanner repo rollback transactional
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/repository/support/SimpleSpannerRepository.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/repository/it/SpannerRepositoryIntegrationTests.java
Labels: spanner

#1799 Add Usage Tracking to API Logging Appender
  spring-cloud-gcp-autoconfigure/src/main/resources/org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml
  spring-cloud-gcp-data-firestore/src/main/java/com/google/cloud/firestore/PublicClassMapper.java
  spring-cloud-gcp-dependencies/pom.xml
  spring-cloud-gcp-logging/src/main/java/org/springframework/cloud/gcp/logging/LoggingAppender.java
  spring-cloud-gcp-logging/src/main/resources/org/springframework/cloud/gcp/logging/logback-appender.xml
  spring-cloud-gcp-logging/src/test/java/org/springframework/cloud/gcp/logging/LoggingAppenderTests.java
Labels: logging

#1797 add unit tests for FirestoreTemplate
  spring-cloud-gcp-data-firestore/pom.xml
  spring-cloud-gcp-data-firestore/src/test/java/org/springframework/cloud/gcp/data/firestore/FirestoreTemplateTests.java
  spring-cloud-gcp-data-firestore/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: firestore

#1805 Make LoggingAppenderTests more robust
  spring-cloud-gcp-logging/src/main/java/org/springframework/cloud/gcp/logging/LoggingAppender.java
  spring-cloud-gcp-logging/src/test/java/org/springframework/cloud/gcp/logging/LoggingAppenderTests.java
  spring-cloud-gcp-logging/src/test/resources/fake-project-key.json
Labels: logging

#1800 Firestore publisher SaveAll
  spring-cloud-gcp-data-firestore/src/main/java/org/springframework/cloud/gcp/data/firestore/FirestoreReactiveOperations.java
  spring-cloud-gcp-data-firestore/src/main/java/org/springframework/cloud/gcp/data/firestore/FirestoreTemplate.java
  spring-cloud-gcp-data-firestore/src/main/java/org/springframework/cloud/gcp/data/firestore/util/ObservableReactiveUtil.java
  spring-cloud-gcp-data-firestore/src/test/java/org/springframework/cloud/gcp/data/firestore/FirestoreIntegrationTests.java
Labels: firestore

#1816 convert object parameters to keys
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/core/DatastoreOperations.java
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/core/DatastoreTemplate.java
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/core/mapping/DatastorePersistentPropertyImpl.java
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/repository/query/GqlDatastoreQuery.java
  spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/repository/query/GqlDatastoreQueryTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/main/java/com/example/DatastoreRepositoryExample.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/main/java/com/example/SingerRepository.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/test/java/com/example/DatastoreSampleApplicationTests.java
Labels: datastore

#1845 Spanner doesn't wrap query with no pageable
  docs/src/main/asciidoc/spanner.adoc
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/repository/query/SpannerStatementQueryExecutor.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/repository/it/SpannerRepositoryIntegrationTests.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/repository/query/SqlSpannerQueryTests.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/test/domain/TradeRepository.java
Labels: spanner
