Repository spring-cloud/spring-cloud-gcp, pull requests merged in 2019-07, with the labels that each got.

#1727 Spanner added bounded staleness option and tests
  docs/src/main/asciidoc/spanner.adoc
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/AbstractSpannerRequestOptions.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/ReadOnlyTransactionSpannerTemplate.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/ReadWriteTransactionSpannerTemplate.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerPageableQueryOptions.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerQueryOptions.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerReadOptions.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerTemplate.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/core/SpannerReadOptionsTests.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/core/SpannerSortPageQueryOptionsTests.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/core/SpannerTemplateTests.java
Labels: spanner

#1734 Datastore allow unindexed list values
  docs/src/main/asciidoc/datastore.adoc
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/core/convert/DefaultDatastoreEntityConverter.java
  spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/core/convert/DefaultDatastoreEntityConverterTests.java
  spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/core/convert/UnindexedTestDatastoreItem.java
  spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/it/DatastoreIntegrationTests.java
Labels: datastore

#1737 Spanner add back partitioned DML support
  docs/src/main/asciidoc/spanner.adoc
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/ReadOnlyTransactionSpannerTemplate.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/ReadWriteTransactionSpannerTemplate.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerOperations.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerTemplate.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/core/SpannerTemplateTests.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/core/SpannerTemplateTransactionManagerTests.java
Labels: spanner

#1747 Fix flaky StackdriverTraceAutoConfigurationTests
  spring-cloud-gcp-autoconfigure/src/test/java/org/springframework/cloud/gcp/autoconfigure/trace/StackdriverTraceAutoConfigurationTests.java
Labels: trace

#1751 Firestore readme sample
  spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample/README.adoc
  spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample/pom.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample/src/main/resources/application.properties
Labels: firestore

#1760 Increase timeout for Trace sample test
  spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample/src/test/java/com/example/TraceSampleApplicationTests.java
Labels: trace

#1759 Increase timeout for Trace sample test
  spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample/src/test/java/com/example/ApplicationTests.java
Labels: 1.1.x, trace

#1770 Firestore ci project and enable test
  .travis.yml
  spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample/src/test/java/com/example/FirestoreSampleAppTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample/src/test/resources/application-test.properties
Labels: datastore, testing

#1771 Let Hibernate auto-detect dialect for Cloud SQL JPA
  spring-cloud-gcp-kotlin-samples/spring-cloud-gcp-kotlin-app-sample/src/main/resources/application.properties
  spring-cloud-gcp-samples/spring-cloud-gcp-data-jpa-sample/README.adoc
  spring-cloud-gcp-samples/spring-cloud-gcp-data-jpa-sample/src/main/resources/application.properties
Labels: cloud-sql

#1772 DatastorePageable uses url-safe-string cursor for JSON serializing
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/repository/query/DatastorePageable.java
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/repository/query/GqlDatastoreQuery.java
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/repository/query/PartTreeDatastoreQuery.java
  spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/repository/support/SimpleDatastoreRepository.java
  spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/repository/query/GqlDatastoreQueryTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-basic-sample/src/test/java/com/example/DatastoreBookshelfExampleTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-basic-sample/src/test/java/com/example/PagedBookRepository.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-basic-sample/src/test/java/com/example/PagedBooksController.java
Labels: datastore

#1781 Fix various warnings and formatting in refdoc
  docs/src/main/asciidoc/firestore.adoc
  docs/src/main/asciidoc/kotlin.adoc
  docs/src/main/asciidoc/security-iap.adoc
  docs/src/main/asciidoc/spring-cloud-gcp.adoc
  docs/src/main/asciidoc/vision.adoc
Labels: docs

#1783 Add logging configuration for tests and set level to INFO
  spring-cloud-gcp-core/src/test/resources/logback-test.xml
  spring-cloud-gcp-data-datastore/src/test/resources/logback-test.xml
  spring-cloud-gcp-kotlin-samples/spring-cloud-gcp-kotlin-app-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-pubsub-stream-binder/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-config-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-basic-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-data-jpa-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-data-multi-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-data-spanner-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-json-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-sample/spring-cloud-gcp-integration-pubsub-sample-polling-receiver/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-sample/spring-cloud-gcp-integration-pubsub-sample-receiver/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-sample/spring-cloud-gcp-integration-pubsub-sample-sender/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-sample/spring-cloud-gcp-integration-pubsub-sample-test/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-integration-storage-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-logging-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-binder-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-bus-config-sample/spring-cloud-gcp-pubsub-bus-config-sample-test/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-polling-binder-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-reactive-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-sql-mysql-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-sql-postgres-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-storage-resource-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-vision-api-sample/src/test/resources/logback-test.xml
  spring-cloud-gcp-security-iap/src/test/resources/logback-test.xml
  spring-cloud-gcp-vision/src/test/resources/logback-test.xml
Labels: code-quality, testing

#1784 Support Key ancestors in REST repo
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/datastore/DatastoreKeyIdConverter.java
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/datastore/GcpDatastoreAutoConfiguration.java
  spring-cloud-gcp-autoconfigure/src/test/java/org/springframework/cloud/gcp/autoconfigure/datastore/GcpDatastoreAutoConfigurationTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/test/java/com/example/DatastoreSampleApplicationTests.java
  spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/test/java/com/example/InstrumentRepositoryRestResource.java
Labels: datastore
