Repository spring-cloud/spring-cloud-gcp, pull requests merged in 2019-11, with the labels that each got.

#2011 Fix Trace sample not to generate 'async' traces
  docs/src/main/asciidoc/trace.adoc
  spring-cloud-gcp-samples/spring-cloud-gcp-trace-sample/src/main/resources/application.properties
Labels: trace

#2017 Move @ConditionalOnClass({ Flux.class }) to class level
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/firestore/GcpFirestoreAutoConfiguration.java
Labels: firestore

#2008 move PublicClassMapper to our package
  spring-cloud-gcp-data-firestore/pom.xml
  spring-cloud-gcp-data-firestore/src/main/java/org/springframework/cloud/gcp/data/firestore/FirestoreTemplate.java
  spring-cloud-gcp-data-firestore/src/main/java/org/springframework/cloud/gcp/data/firestore/mapping/PublicClassMapper.java
  spring-cloud-gcp-data-firestore/src/main/java/org/springframework/cloud/gcp/data/firestore/repository/query/PartTreeFirestoreQuery.java
  spring-cloud-gcp-data-firestore/src/test/java/org/springframework/cloud/gcp/data/firestore/repository/query/PartTreeFirestoreQueryTests.java
Labels: firestore

#2020 Adding original message to the throwble for Pub/Sub publish failures.
  spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/core/PubSubDeliveryException.java
  spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/core/publisher/PubSubPublisherTemplate.java
  spring-cloud-gcp-pubsub/src/test/java/org/springframework/cloud/gcp/pubsub/core/PubSubTemplateTests.java
Labels: pubsub

#2045 Bumping versions of Seuth andBbrave
  pom.xml
Labels: 1.1.x

#2048 Replace deprecated DatastoreHealthIndicatorAutoConfiguration
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/datastore/health/DatastoreHealthIndicatorAutoConfiguration.java
Labels: datastore
