Repository spring-cloud/spring-cloud-gcp, pull requests merged in 2020-11, with the labels that each got.

#2583 Shutdown Pub/Sub emulator ManagedChannel
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/pubsub/GcpPubSubEmulatorAutoConfiguration.java
Labels: pubsub

#2587 Update changelog for 1.2.6.RELEASE
  CHANGELOG.adoc
Labels: docs

#2580 fix converters override in Spring Data Spanner
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/convert/SpannerReadConverter.java
  spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/convert/SpannerWriteConverter.java
  spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/core/convert/ConverterAwareMappingSpannerEntityProcessorTests.java
Labels: spanner

#2592 Fix: Spanner Emulator Project ID does not take the default Spring Clo…
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/spanner/GcpSpannerEmulatorAutoConfiguration.java
Labels: spanner

#2593 (backport): Multiple fixes for the metrics auto-config and sample (#121)
  docs/src/main/asciidoc/metrics.adoc
  spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/metrics/GcpStackdriverMetricsAutoConfiguration.java
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/README.adoc
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/pom.xml
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/main/java/com/example/ExampleController.java
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/main/resources/application.properties
  spring-cloud-gcp-samples/spring-cloud-gcp-metrics-sample/src/test/java/com/example/MetricsSampleApplicationTests.java
  spring-cloud-gcp-starters/spring-cloud-gcp-starter-metrics/pom.xml
Labels: metrics

#2598 Correcting small typo on Google Cloud Storage documentation (#2597)
  docs/src/main/asciidoc/storage.adoc
Labels: docs
